@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.75rem;
}

body {
  // border: 16px solid black;
  font-family: "Poppins", sans-serif;
  background: #e3e6ea;
  padding: 128px;
}

.header {
  // margin-top: 128px;
  // margin-left: 128px;
  max-width: 50vw;
  &__avatar {
    width: 120px;
    height: auto;
    border-radius: 60px;
    border: 6px solid rgba(0, 0, 0, 0.103);
    padding: 4px;
  }
  &__title {
  }
  &__description {
    font-size: 1.25rem;
    font-weight: 500;
    padding-right: 100px;
    line-height: 2.25rem;
  }
  &__mail {
    margin-top: 60px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    border-bottom: 2px solid blue;
    padding-bottom: 8px;
    max-width: fit-content;
  }
}

.skills {
  margin-top: 200px;
  &__title {
    border-bottom: 2px solid #cbd2d985;
    padding-bottom: 16px;
    &--1{
      margin: 0;
      &:before{
        content: "";
        display: block;
        bottom: 24px;
        width: 80px;
        height: 4px;
        background: #06C847;
        border-radius: 8px;
        margin-bottom: 1.5rem;
      }
    }
    &--2{
      margin: 0;

      &:before{
        content: "";
        display: block;
        bottom: 24px;
        width: 80px;
        height: 4px;
        background: #653CAD;
        border-radius: 8px;
        margin-bottom: 1.5rem;
      }
    }
    &--3{
      margin: 0;
      &:before{
        content: "";
        display: block;
        bottom: 24px;
        width: 80px;
        height: 4px;
        background:#2251cc;
        border-radius: 8px;
        margin-bottom: 1.5rem;
      }
    }
  }
  &__grid {
    margin-top: 128px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-row-gap:128px ;
  }
  &__list {
    padding-top: 24px;
    &--primary{
      list-style-image: url("../assets/img/checked-g.svg");
    }
    &--secondary{
      list-style-image: url("../assets/img/checked-p.svg");
    }
    &--tertiary{
      list-style-image: url("../assets/img/checked-b.svg");
    }
  }
  & li{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.5rem;
  }
}